*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
#menu-principal ul{
    background-color: #997272;
    list-style: none;
    padding: 10px;
    height: 12vh;
    max-height: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    font-size: larger;
}
#menu-principal ul li{
    display: inline;
}
#menu-principal ul li a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition-duration: 3s;
}
#menu-principal ul li a:hover{
    background-color: #80342C;
}

/*header*/
#principal {
     width: 100%;
    height: 300px;
    background-image: url('../img/principal.png'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    height: 100vh;
}
h1{
    position: absolute;
    top: 50%;
    left: 60%;
    width: 30vw;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
}
#introducao{
    background-color: #f2f2f2;
    padding-top: 40px;
}

h2{
    font-size: 1.5em;
    margin: 30px 0;
    text-align: left;
    margin: 20px 40px;
}
p{
    text-align: justify;
    color: #7e7b7e;
    font-size: 15px;
    padding: 10px 40px;
}
.grupo{
    width: 45%;
    display: inline-block;
    background-color: #fff;
    margin: 0 1vw;
    height: auto;
    min-height: 200px;
    min-width: 200px;
}
.grupo img{
    max-width: 80%;
    text-align: center;
}
.formata-grupo{
    width: 80vw;
    margin: 0 auto;
}
section{
    height: auto;
    min-height: 450px;
    min-width: 200px; 
}
.texto{
  padding-top:10vh ;
  vertical-align: top;
}
.grupo2{
    width: 30%;
    display: inline-block;
    background-color: #fff;
    margin: 0 1vw;
    
}
#destaques, .grupo2{
    background-color: #dbedc4;
}
#destaques img{
    max-width: 100%;
    width: 200px;
    height: 250px;
}
img{
    border-radius: 10px;
    box-shadow: #7e7b7e;
}
.principal{
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 40px;
    background-color: #997272;
    height: 150px;
    width: 100%;
    text-align: center;
    position: relative;
}

.rodape {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.left {
    width: 30%; /* Ajuste conforme necessário */
    text-align: left;
}

.right {
    width: 30%; /* Ajuste conforme necessário */
    text-align: right;
}
.centro{
    width: 30%; /* Ajuste conforme necessário */
    text-align: center;
    padding-top: 2vh;
}

.left img {
    width: 80%; /* Define uma largura fixa para todas as imagens */
    height: auto; /* Mantém a proporção da imagem */
    padding: 5px;
    max-width: 25%;
}
.right img{
    width: 15%; /* Define uma largura fixa para todas as imagens */
    height: auto; /* Mantém a proporção da imagem */
    padding: 5px;
    max-width: 15%;
}
/*Section SOBRE*/
#sobre{
     top: 34%;
    left: 70%;
    background-color: #997272;
    text-align: right;
}
.sobre{
    width: 80%;
    margin: 1vh auto 0;
    background-color: #f2f2f2;
}
.sobre ul,ol{
    padding-left: 50px;
    color: #7e7b7e;
}
hr{
    height: 0.5vh;
    width: 60%;
    margin:0 auto;
}
#nome{
  font-size: xx-large;
  color: #80342C;
  text-align: center;
  text-shadow: #7e7b7e;
}
